//genral changes using react-bootstrap

@import "~bootstrap/scss/bootstrap";

//own css
.App {
  font-family: sans-serif;
  text-align: center;
}

.container {
  border: 1px solid #dadde1;
}
.weather {
  border: 1px solid #dadde1;
}

.weather ul {
  list-style-type: none;
  text-align:center
}